body{
    background: black;
}

img{
    float: left;
}

h1, h2 {
    font-family: 'Courier New', Courier, monospace;
    color: purple;
    font-size: 50px;
    text-align: center;
}

p{
    font-family: 'Courier New', Courier, monospace;
    color: rebeccapurple;
    font-size: 25px;
    
}